Repository kowainik/tomland, pull requests merged in 2018-04, with the labels that each got.

#12 [#3] Implement basic TOML parser
  CHANGELOG.md
  examples/Playground.hs
  src/Toml.hs
  src/Toml/Parser.hs
  src/Toml/Printer.hs
  src/Toml/Type.hs
  stack-8.0.2.yaml
  test.toml
  tomland.cabal
Labels: parser

#30 Add basic PrefixTree
  src/Toml/PrefixTree.hs
  tomland.cabal
Labels: ast

#33 Add PrefixMap functions, refactor
  src/Toml/PrefixTree.hs
Labels: PrefixTree
