Repository kowainik/tomland, pull requests merged in 2018-09, with the labels that each got.

#84 [#85] Add date test generator
  CHANGELOG.md
  src/Toml/Printer.hs
  stack.yaml
  test/Test/Toml/Gen.hs
  tomland.cabal
Labels: test

#89 [#88] Add Array test generator
  .travis.yml
  CHANGELOG.md
  src/Toml/Parser.hs
  test/Test/Toml/Gen.hs
  tomland.cabal
Labels: test

#92 [#87] Improve double generator
  CHANGELOG.md
  src/Toml/Printer.hs
  src/Toml/Type/AnyValue.hs
  src/Toml/Type/Value.hs
  test/Test/Toml/Gen.hs
Labels: test

#94 [#81] Perform data type renaming
  CHANGELOG.md
  examples/Playground.hs
  src/Toml/Bi/Code.hs
  src/Toml/Bi/Combinators.hs
  src/Toml/Bi/Monad.hs
Labels: ast, codec, refactoring

#93 Support GHC 8.6.1
  .travis.yml
  CHANGELOG.md
  cabal.project
  src/Toml/PrefixTree.hs
  test/Test/Toml/Gen.hs
  tomland.cabal
Labels: build
