Repository kowainik/tomland, pull requests merged in 2018-06, with the labels that each got.

#55 [#8] Create EDSL for tomland
  CHANGELOG.md
  examples/Playground.hs
  src/Toml/Bi/Combinators.hs
  src/Toml/Edsl.hs
  src/Toml/Type.hs
  tomland.cabal
Labels: ast

#56 Use tasty-discover for finding tests
  stack.yaml
  test/Spec.hs
  test/Test/Toml/Gen.hs
  test/Test/Toml/Parsing.hs
  test/Test/Toml/Parsing/Property.hs
  test/Test/Toml/PrefixTree.hs
  test/Test/Toml/PrefixTree/Property.hs
  test/Test/Toml/PrefixTree/Unit.hs
  tomland.cabal
Labels: test

#57 [#10] Add Semigroup and Monoid instances TOML
  CHANGELOG.md
  src/Toml/Bi/Code.hs
  src/Toml/Bi/Combinators.hs
  src/Toml/Edsl.hs
  src/Toml/PrefixTree.hs
  src/Toml/Type.hs
  test/Test/Toml/PrefixTree/Property.hs
  test/Test/Toml/Property.hs
  test/Test/Toml/TOML/Property.hs
  tomland.cabal
Labels: PrefixTree, ast

#61 [#20] Add parsing of hex, oct and bin integers
  src/Toml/Parser.hs
Labels: parser

#65 [#60] Replace Valuer with Prism
  CHANGELOG.md
  examples/Playground.hs
  src/Toml.hs
  src/Toml/Bi/Combinators.hs
  src/Toml/Prism.hs
  src/Toml/Type.hs
  tomland.cabal
Labels: bi, λ-safe

#67 [#26] Implement unit testing for TOML parsing
  CHANGELOG.md
  src/Toml/Parser.hs
  src/Toml/Type.hs
  stack-8.0.2.yaml
  test/Test/Toml/Parsing/Unit.hs
  tomland.cabal
Labels: parser

#62 [#19] Add proper parsing of floating point numbers
  CHANGELOG.md
  src/Toml/Parser.hs
  test/Test/Toml/Parsing/Unit.hs
Labels: parser
