Repository kowainik/tomland, pull requests merged in 2019-06, with the labels that each got.

#192 [#189] Implement custom table key sorting
  src/Toml/Printer.hs
  test/Test/Toml/Printer/Golden.hs
  test/golden/pretty_custom_sorted.golden
Labels: pretty-printer

#196 [#194] Fix CI
  stack.yaml
  tomland.cabal
Labels: build

#197 [#195] Fix parser exponential behavior
  CHANGELOG.md
  src/Toml/Parser/Core.hs
  src/Toml/Parser/TOML.hs
  test/Test/Toml/Gen.hs
  test/Test/Toml/Parsing/Unit.hs
Labels: parser, performance

#172 [#145] Support for inline table arrays
  CHANGELOG.md
  src/Toml/Parser/TOML.hs
  test/Test/Toml/Parsing/Unit.hs
Labels: parser
