Repository kowainik/tomland, pull requests merged in 2020-05, with the labels that each got.

#257 [#252] Switch testing from 'tasty-*' libraries to 'hspec-*' libraries
  .gitignore
  src/Toml/Parser/Item.hs
  stack.yaml
  test/Spec.hs
  test/Test/Toml/BiCode/Property.hs
  test/Test/Toml/BiMap/Property.hs
  test/Test/Toml/Gen.hs
  test/Test/Toml/Parsing/Examples.hs
  test/Test/Toml/Parsing/Property.hs
  test/Test/Toml/Parsing/Unit.hs
  test/Test/Toml/Parsing/Unit/Array.hs
  test/Test/Toml/Parsing/Unit/Bool.hs
  test/Test/Toml/Parsing/Unit/Common.hs
  test/Test/Toml/Parsing/Unit/Date.hs
  test/Test/Toml/Parsing/Unit/Double.hs
  test/Test/Toml/Parsing/Unit/Integer.hs
  test/Test/Toml/Parsing/Unit/Key.hs
  test/Test/Toml/Parsing/Unit/Text.hs
  test/Test/Toml/Parsing/Unit/Toml.hs
  test/Test/Toml/PrefixTree/Property.hs
  test/Test/Toml/PrefixTree/Unit.hs
  test/Test/Toml/Printer/Golden.hs
  test/Test/Toml/Property.hs
  test/Test/Toml/TOML/Property.hs
  tomland.cabal
Labels: refactoring, test

#258 [#253] Support GHC-8.10
  .github/workflows/ci.yml
  .travis.yml
  CHANGELOG.md
  README.md
  appveyor.yml
  src/Toml/Bi/Code.hs
  src/Toml/Bi/Combinators.hs
  src/Toml/Bi/Map.hs
  src/Toml/Parser/Key.hs
  src/Toml/Parser/String.hs
  src/Toml/Parser/Validate.hs
  src/Toml/Parser/Value.hs
  src/Toml/PrefixTree.hs
  src/Toml/Printer.hs
  src/Toml/Type/TOML.hs
  test/Test/Toml/BiCode/Property.hs
  test/Test/Toml/Gen.hs
  test/Test/Toml/Parsing/Unit/Common.hs
  test/Test/Toml/Parsing/Unit/Toml.hs
  test/Test/Toml/Property.hs
  tomland.cabal
Labels: build

#265 [#263] Simplify 'Codec' abstraction
  CHANGELOG.md
  README.md
  examples/Main.hs
  src/Toml.hs
  src/Toml/Bi.hs
  src/Toml/Bi/Code.hs
  src/Toml/Bi/Monad.hs
  src/Toml/Codec.hs
  src/Toml/Codec/Code.hs
  src/Toml/Codec/Combinators.hs
  src/Toml/Codec/Di.hs
  src/Toml/Codec/Error.hs
  src/Toml/Codec/Types.hs
  src/Toml/Generic.hs
  test/Test/Toml/BiCode/Property.hs
  tomland.cabal
Labels: codec, refactoring

#266 [#218] Implement tests for TOML validation
  CHANGELOG.md
  src/Toml/Parser/Validate.hs
  test/Spec.hs
  test/Test/Toml/Parsing/Validation.hs
  tomland.cabal
Labels: test, λ-safe

#267 [#256] Simpler module structure
  .github/workflows/ci.yml
  CHANGELOG.md
  examples/Main.hs
  src/Toml.hs
  src/Toml/Bi.hs
  src/Toml/Codec.hs
  src/Toml/Codec/BiMap.hs
  src/Toml/Codec/Code.hs
  src/Toml/Codec/Combinators.hs
  src/Toml/Codec/Error.hs
  src/Toml/Codec/Generic.hs
  src/Toml/Parser.hs
  src/Toml/Parser/Core.hs
  src/Toml/Parser/Item.hs
  src/Toml/Parser/Key.hs
  src/Toml/Parser/String.hs
  src/Toml/Parser/Validate.hs
  src/Toml/Parser/Value.hs
  src/Toml/Type.hs
  src/Toml/Type/AnyValue.hs
  src/Toml/Type/Edsl.hs
  src/Toml/Type/Key.hs
  src/Toml/Type/PrefixTree.hs
  src/Toml/Type/Printer.hs
  src/Toml/Type/TOML.hs
  src/Toml/Type/UValue.hs
  src/Toml/Type/Value.hs
  test/Test/Toml/BiMap/Property.hs
  test/Test/Toml/Gen.hs
  test/Test/Toml/Parsing/Property.hs
  test/Test/Toml/Parsing/Unit/Common.hs
  test/Test/Toml/Parsing/Unit/Key.hs
  test/Test/Toml/Parsing/Unit/Toml.hs
  test/Test/Toml/Parsing/Validation.hs
  test/Test/Toml/PrefixTree/Property.hs
  test/Test/Toml/PrefixTree/Unit.hs
  test/Test/Toml/Printer/Golden.hs
  tomland.cabal
Labels: doc, refactoring

#269 [#261] Table MapsCodec
  CHANGELOG.md
  examples/Main.hs
  examples/biTest.toml
  src/Toml/Codec/Combinators.hs
Labels: codec

#274 [#270] Implement codecs for pair and triple
  CHANGELOG.md
  examples/Main.hs
  examples/biTest.toml
  src/Toml/Codec/BiMap.hs
  src/Toml/Codec/Combinators.hs
  src/Toml/Codec/Di.hs
Labels: codec

#276 [#268] Mirror module structure in tests
  test/Spec.hs
  test/Test/Toml/BigType.hs
  test/Test/Toml/Codec.hs
  test/Test/Toml/Codec/BiMap.hs
  test/Test/Toml/Codec/Combinators.hs
  test/Test/Toml/Codec/Generic.hs
  test/Test/Toml/Parser.hs
  test/Test/Toml/Parser/Array.hs
  test/Test/Toml/Parser/Bool.hs
  test/Test/Toml/Parser/Common.hs
  test/Test/Toml/Parser/Date.hs
  test/Test/Toml/Parser/Double.hs
  test/Test/Toml/Parser/Examples.hs
  test/Test/Toml/Parser/Integer.hs
  test/Test/Toml/Parser/Key.hs
  test/Test/Toml/Parser/Property.hs
  test/Test/Toml/Parser/Text.hs
  test/Test/Toml/Parser/Toml.hs
  test/Test/Toml/Parser/Validate.hs
  test/Test/Toml/Parsing/Unit.hs
  test/Test/Toml/PrefixTree/Property.hs
  test/Test/Toml/PrefixTree/Unit.hs
  test/Test/Toml/Type.hs
  test/Test/Toml/Type/Key.hs
  test/Test/Toml/Type/PrefixTree.hs
  test/Test/Toml/Type/Printer.hs
  test/Test/Toml/Type/TOML.hs
  tomland.cabal
Labels: refactoring, test

#281 [#279] Split `Codec.BiMap`
  src/Toml/Codec.hs
  src/Toml/Codec/BiMap.hs
  src/Toml/Codec/BiMap/Conversion.hs
  src/Toml/Codec/Combinators.hs
  src/Toml/Codec/Generic.hs
  test/Test/Toml/Codec/BiMap.hs
  test/Test/Toml/Codec/BiMap/Conversion.hs
  test/Test/Toml/Gen.hs
  tomland.cabal
Labels: doc, refactoring

#282 [#278] Split `Codec.Combinators` into more modular way
  CHANGELOG.md
  examples/Main.hs
  src/Toml/Codec.hs
  src/Toml/Codec/Combinator.hs
  src/Toml/Codec/Combinator/Common.hs
  src/Toml/Codec/Combinator/Custom.hs
  src/Toml/Codec/Combinator/List.hs
  src/Toml/Codec/Combinator/Map.hs
  src/Toml/Codec/Combinator/Monoid.hs
  src/Toml/Codec/Combinator/Primitive.hs
  src/Toml/Codec/Combinator/Set.hs
  src/Toml/Codec/Combinator/Table.hs
  src/Toml/Codec/Combinator/Time.hs
  src/Toml/Codec/Combinator/Tuple.hs
  src/Toml/Codec/Combinators.hs
  src/Toml/Codec/Generic.hs
  src/Toml/Parser.hs
  src/Toml/Parser/Item.hs
  test/Test/Toml/Codec.hs
  test/Test/Toml/Codec/Combinator.hs
  test/Test/Toml/Type/Key.hs
  tomland.cabal
Labels: refactoring

#284 Build only master branches on AppVeyor
  appveyor.yml
Labels: build

#285 [#277] Fill missing parts in tests
  src/Toml/Codec/BiMap/Conversion.hs
  test/Test/Toml/Codec/BiMap.hs
  test/Test/Toml/Codec/BiMap/Conversion.hs
  test/Test/Toml/Gen.hs
  test/Test/Toml/Type/Key.hs
Labels: test

#286 [#237] Combinator with predicate
  CHANGELOG.md
  examples/Main.hs
  examples/biTest.toml
  src/Toml/Codec/BiMap/Conversion.hs
  src/Toml/Codec/Combinator.hs
  src/Toml/Codec/Combinator/Custom.hs
Labels: codec

#287 [#283] Table for Primitive combinators
  src/Toml/Codec/Combinator/Primitive.hs
Labels: codec, doc

#288 [#280] Roundtrip tests for Combinator.Primitive
  test/Test/Toml/BigType.hs
  test/Test/Toml/Codec/Combinator.hs
  test/Test/Toml/Codec/Combinator/Common.hs
  test/Test/Toml/Codec/Combinator/Primitive.hs
  tomland.cabal
Labels: test

#290 [#283] Table for Tuple, Set combinators
  src/Toml/Codec/Combinator/Primitive.hs
  src/Toml/Codec/Combinator/Set.hs
  src/Toml/Codec/Combinator/Tuple.hs
Labels: codec, doc

#291 [#280] Add tests for Combinator.{Set,Tuple}
  test/Test/Toml/Codec/Combinator.hs
  test/Test/Toml/Codec/Combinator/Set.hs
  test/Test/Toml/Codec/Combinator/Tuple.hs
  test/Test/Toml/Gen.hs
  tomland.cabal
Labels: test

#293 [#280] Tests for Combinator.{List,Map,Monoid}
  test/Test/Toml/Codec/Combinator.hs
  test/Test/Toml/Codec/Combinator/List.hs
  test/Test/Toml/Codec/Combinator/Map.hs
  test/Test/Toml/Codec/Combinator/Monoid.hs
  test/Test/Toml/Gen.hs
  tomland.cabal
Labels: test

#292 [#283] Table for List, Map, Monoid, Time combinators
  src/Toml/Codec/Combinator/List.hs
  src/Toml/Codec/Combinator/Map.hs
  src/Toml/Codec/Combinator/Monoid.hs
  src/Toml/Codec/Combinator/Time.hs
Labels: codec, doc

#294 [#283] A few top-level sentences
  src/Toml/Codec/Combinator/Common.hs
  src/Toml/Codec/Combinator/Monoid.hs
  src/Toml/Codec/Combinator/Time.hs
  src/Toml/Codec/Combinator/Tuple.hs
Labels: doc

#295 [#283] Add docs for Custom combinators
  examples/Main.hs
  examples/biTest.toml
  src/Toml/Codec/Combinator.hs
  src/Toml/Codec/Combinator/Custom.hs
  src/Toml/Codec/Combinator/Monoid.hs
Labels: doc

#296 [#280] More granular `Codec.Combinators` testing
  test/Test/Toml/BigType.hs
  test/Test/Toml/Codec.hs
  test/Test/Toml/Codec/BiMap/Conversion.hs
  test/Test/Toml/Codec/Combinator.hs
  test/Test/Toml/Codec/Combinator/Custom.hs
  test/Test/Toml/Codec/Combinator/Table.hs
  test/Test/Toml/Codec/Combinator/Time.hs
  test/Test/Toml/Codec/Di.hs
  test/Test/Toml/Codec/Generic.hs
  test/Test/Toml/Codec/SmallType.hs
  test/Test/Toml/Gen.hs
  tomland.cabal
Labels: test

#298 [#297] Speed up tests
  .github/workflows/ci.yml
  test/Spec.hs
  test/Test/Toml/Codec.hs
  test/Test/Toml/Codec/BiMap.hs
  test/Test/Toml/Codec/BiMap/Conversion.hs
  test/Test/Toml/Codec/Combinator.hs
  test/Test/Toml/Codec/Combinator/List.hs
  test/Test/Toml/Codec/Combinator/Map.hs
  test/Test/Toml/Codec/Combinator/Primitive.hs
  test/Test/Toml/Codec/Combinator/Set.hs
  test/Test/Toml/Codec/Combinator/Tuple.hs
  test/Test/Toml/Codec/Generic.hs
  test/Test/Toml/Type.hs
  test/Test/Toml/Type/PrefixTree.hs
  test/Test/Toml/Type/TOML.hs
Labels: test

#299 [#289] Implement `_Coerce :: TomlBiMap`
  CHANGELOG.md
  src/Toml/Codec/BiMap/Conversion.hs
  test/Test/Toml/Codec/BiMap/Conversion.hs
  test/Test/Toml/Codec/Combinator/Common.hs
Labels: codec, test

#300 [#273] Add @since annotations to each function and module
  src/Toml/Codec/BiMap.hs
  src/Toml/Codec/BiMap/Conversion.hs
  src/Toml/Codec/Code.hs
  src/Toml/Codec/Combinator/Common.hs
  src/Toml/Codec/Combinator/Custom.hs
  src/Toml/Codec/Combinator/List.hs
  src/Toml/Codec/Combinator/Primitive.hs
  src/Toml/Codec/Combinator/Set.hs
  src/Toml/Codec/Combinator/Table.hs
  src/Toml/Codec/Combinator/Time.hs
  src/Toml/Codec/Di.hs
  src/Toml/Codec/Error.hs
  src/Toml/Codec/Generic.hs
  src/Toml/Codec/Types.hs
  src/Toml/Parser.hs
  src/Toml/Type/AnyValue.hs
  src/Toml/Type/Edsl.hs
  src/Toml/Type/Key.hs
  src/Toml/Type/PrefixTree.hs
  src/Toml/Type/Printer.hs
  src/Toml/Type/TOML.hs
  src/Toml/Type/UValue.hs
  src/Toml/Type/Value.hs
  test/Test/Toml/Codec/Combinator/Map.hs
Labels: doc, generics, refactoring

#301 [#243] Support more `Map`-like data structures
  CHANGELOG.md
  src/Toml/Codec/BiMap/Conversion.hs
  src/Toml/Codec/Combinator.hs
  src/Toml/Codec/Combinator/Map.hs
  test/Test/Toml/Codec/BiMap/Conversion.hs
Labels: codec

#304 [#283] Docs for codecs
  CHANGELOG.md
  examples/Main.hs
  examples/biTest.toml
  src/Toml/Codec/Combinator.hs
  src/Toml/Codec/Combinator/List.hs
  src/Toml/Codec/Combinator/Map.hs
  src/Toml/Codec/Combinator/Set.hs
  src/Toml/Codec/Combinator/Table.hs
  src/Toml/Codec/Error.hs
  test/Test/Toml/Codec/Combinator/Set.hs
Labels: codec, doc

#305 [#242] Implement `Generic` codecs for `Map`
  CHANGELOG.md
  src/Toml/Codec/Generic.hs
Labels: generics

#306 [#251] Add 'ByteString' newtypes for Generic coding
  CHANGELOG.md
  src/Toml/Codec/Generic.hs
  test/Test/Toml/Codec/SmallType.hs
Labels: generics

#307 [#260] Check on keys starting with "-" parsing
  test/Test/Toml/Parser/Key.hs
Labels: parser, test

#308 [#302] Distinguish TableNotFound and TableArrayNotFound
  CHANGELOG.md
  src/Toml/Codec/Combinator/List.hs
  src/Toml/Codec/Combinator/Table.hs
  src/Toml/Codec/Error.hs
Labels: codec, λ-safe

#309 [#271] Use 'Validation' from 'validation-selective' in 'TomlEnv'
  examples/Main.hs
  src/Toml/Codec/Code.hs
  src/Toml/Codec/Combinator/Common.hs
  src/Toml/Codec/Combinator/List.hs
  src/Toml/Codec/Combinator/Map.hs
  src/Toml/Codec/Combinator/Table.hs
  src/Toml/Codec/Di.hs
  src/Toml/Codec/Error.hs
  src/Toml/Codec/Types.hs
  stack.yaml
  tomland.cabal
Labels: codec, refactoring, λ-safe

#312 [#310] Add tests on `TomlDecodeError`s
  CHANGELOG.md
  src/Toml/Codec/Combinator/Table.hs
  src/Toml/Codec/Error.hs
  test/Test/Toml/Codec.hs
  test/Test/Toml/Codec/Code.hs
  tomland.cabal
Labels: codec, test

#315 [#313] Put 'Key' to 'BiMapError'
  CHANGELOG.md
  src/Toml/Codec/Combinator/Common.hs
  src/Toml/Codec/Combinator/Map.hs
  src/Toml/Codec/Error.hs
  test/Test/Toml/Codec/Code.hs
Labels: codec, λ-safe

#316 [#311] Reimplement custom State
  CHANGELOG.md
  src/Toml/Codec/Code.hs
  src/Toml/Codec/Combinator/Common.hs
  src/Toml/Codec/Combinator/Map.hs
  src/Toml/Codec/Combinator/Table.hs
  src/Toml/Codec/Di.hs
  src/Toml/Codec/Types.hs
Labels: codec

#317 Top-level description for 'Toml.Codec'
  src/Toml.hs
  src/Toml/Codec.hs
Labels: doc

#321 [#318] Fix roundtrip test for Key
  CHANGELOG.md
  src/Toml/Codec/BiMap/Conversion.hs
  src/Toml/Parser.hs
  test/Test/Toml/Parser/Key.hs
  test/Test/Toml/Type/Key.hs
Labels: parser, refactoring, test

#320 [#272] DerivingVia for Generic table codecs
  CHANGELOG.md
  examples/Main.hs
  examples/generic.toml
  src/Toml/Codec/Generic.hs
  tomland.cabal
Labels: generics

#323 Update CHANGELOG for 1.3.0.0 release
  CHANGELOG.md
Labels: doc

#324 Improve wording in README
  README.md
  examples/readme.toml
  tomland.cabal
Labels: doc
